<!DOCTYPE html>
<html>
  <head>
    <title>Manager Menu</title>
  </head>
  <body>
    <h1>Welcome, Manager!</h1>
    <ul>
      <li><a href="/users">Manage Users</a></li>
      <li><a href="/absences">Review Absence Requests</a></li>
    </ul>
  </body>
</html>